@import "../../../styles/variables";
@import "../../../styles/utils.scss";
@import "~bulma/sass/form/_all.sass";

.cd.label {
  @extend .label;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  color: $gunmetal;
  font-size: 12px;
  line-height: 1.375;
  font-weight: bold;
  margin-bottom: 0.5em;
}
