@import "../../styles/variables";
@import "../../styles/utils";
@import "~bulma/sass/form/_all.sass";

.cd.input {
  box-shadow: none;
  &:focus {
    box-shadow: none;
  }
}

.cd.control.has-icons-right .icon {
  pointer-events: auto;

  &:focus {
    background: $primary;
    color: $dark;
  }
}
