@import "../../../styles/variables";
@import "../../../styles/utils";
@import "~bulma/sass/elements/button.sass";

.cd.buttons {
  display: inline-block;

  > * {
    display: inline-flex;
  }

  > a:not(.button):not(:last-child) {
    display: contents;
    .cd.button {
      margin-right: 0.5rem;
    }
  }

  > a:not(.button) {
    .cd.button {
      margin-bottom: 0.5rem;
    }
  }

  .cd.tooltip:last-child {
    .button {
      margin-right: 0em;
    }
  }
}

.cd.button {
  transition: all $transition-duration;
  white-space: nowrap;
  font-weight: bold;
  padding: 0.5em 1.5em;
  border-radius: 3px;

  &.is-paddingless {
    padding: 0;
  }

  &.is-rounded {
    border-radius: 2em;
  }

  &.is-icon {
    padding: 0.5em 0.75em;
    width: 2.75em;
  }

  &.is-primary {
    color: $charcoal-grey;
  }

  &:not(.is-text) {
    box-shadow: 0 1px 4px 0 rgba(0, 31, 51, 0.1);
    &.is-white {
      color: $blue-grey;
      box-shadow: 0 1px 4px 0 rgba(0, 31, 51, 0.1), inset 0 0 0 1px $grey-200;
    }
    &.is-white[disabled] {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  &.is-text,
  &.is-text:hover {
    background: none;
  }

  &.is-text {
    color: $white-two;
    text-decoration: none;
    border: none;
    height: auto;

    &:hover {
      opacity: 0.6;
    }

    &.is-primary {
      color: $tiffany-blue;
    }

    &.is-danger {
      color: $watermelon;
    }

    &.is-success {
      color: $jade-green;
    }

    &.is-disable {
      color: $grey-200;
    }

    &.is-darker {
      color: $blue-green;
    }
  }

  span.is-right {
    .cd.icon {
      margin-left: 0.5em;
      margin-right: -0.5em;
    }
  }
}
