@import "../../styles/utils.scss";
@import "~bulma/sass/form/_all.sass";
@import "~bulma/sass/elements/title.sass";
@import "../../styles/variables.scss";

.login-form {
  .input {
    @extend .input;
    font-size: 14px;
    color: $battleship-grey;
    border-color: $grey-200;
    box-shadow: none;
    &:focus {
      box-shadow: none;
    }
  }

  .login-buttons {
    .button {
      font-weight: bold;
      width: 100%;
      margin-bottom: 0.75em;

      i {
        margin-right: 0.5em;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .error-msg {
    font-weight: bold;
    font-size: 0.75em;
    color: $faded-red;
  }

  .is-error {
    .label {
      color: $faded-red;
    }

    .input {
      border-color: $faded-red;
    }
  }
}