
@import "~bulma/bulma.sass";
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "./utils.scss";
@import "./variables.scss";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-display: auto;
  font-weight: 400;
  color: $battleship-grey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  > div {
    height: 100%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
