
@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

.main-wrapper {
  background: url("../assets/images/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center;

  @include tablet {
      background: url("../assets/images/background.svg");
  }

  > div {
    width: 100%;
    height: 100%;
  }
}

.inner-wrapper {
  position: relative;
  padding: 4.5em 0;

  @include tablet {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

.content-section {
  background: #fff;
  width: 400px;
  height: 100%;
  max-height: 500px;
  margin: 0 auto;
  padding: 2.75em 3.375em;
  box-shadow: 0 2px 14px 0 rgba(80, 89, 89, 0.26) !important;
  z-index: 200;

  @include tablet {
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
  }
}