@import "~bulma/sass/utilities/initial-variables.sass";

$black: #222222;
$white: #ffffff;
$white-two: #f7f7f7;
$grey-100: #e8ebeb;
$grey-200: #d4d9d9;
$grey-500: #8c9494;
$light-grey-blue: #b2b8b8;
$blue-grey: #8d9494;
$battleship-grey: #6c7373;
$gunmetal: #505959;
$charcoal-grey: #394242;

$pale-blue: #d7f5f4;
$light-cyan: #b2ebea;
$tiffany-blue: #92dedd;
$seafoam-blue: #63cfcd;
$greeny-blue: #37b8b5;
$blue-green: #0f9997;
$bluegreen: #008582;

$watermelon: #ff475d;
$light-red: #fef1f3;
$faded-red: #e02d42;
$jade-green: #2db364;
$light-green: #edf9f4;
$viridian: #1b8748;
$parchment: #f4f5ba;
$yellowish: #e9eb75;
$chartreuse: #e0e200;
$dark-chartreuse: #ced100;

$primary: $tiffany-blue;
$dark: $gunmetal;
$light: $grey-200;
$grey: #8d9494;
$grey-lighter: $light;
$danger: $watermelon;
$success: $jade-green;
$warning: $parchment;

$background: $grey-100;

$radius: 3px;

$transition-duration: 0.3s;
$transition-duration-fast: 0.2s;
$transition-duration-slow: 0.5s;

$table-color: $dark;
$table-head-cell-border-width: 0;
$table-head-cell-color: $blue-grey;
$table-head-background-color: $white-two;
$table-cell-border: 1px solid $grey-100;
$table-cell-padding: 1em 1.25em;

$panel-margin: 0;
$panel-radius: 0;
$panel-item-border: none;
$panel-background-color: $white-two;
$panel-heading-weight: bold;
$panel-heading-padding: 1em 1.5em;
$panel-heading-radius: 0;
$panel-heading-background-color: $panel-background-color;

$input-focus-border-color: $primary;

$tag-radius: $radius;
$control-radius: $radius;
$control-height: 2.75rem;
$input-radius: $control-radius;

$button-border-width: 0;
$button-background-color: $background;

$pagination-item-padding-left: 0.75em;
$pagination-item-padding-right: 0.75em;
$pagination-current-background-color: $primary;
$pagination-current-border-color: $primary;
$pagination-focus-border-color: $primary;
$pagination-active-border-color: $primary;

$notification-radius: 0;
$notification-padding: 0.75rem 2.5rem 0.75rem 1.5rem;

@import "~bulma/sass/utilities/_all.sass";
