@import "../../../styles/utils.scss";
@import "~bulma/sass/grid/columns.sass";

.cd.columns {
  &.is-vbaselined {
    align-items: baseline;
  }

  &.is-flex-end {
    justify-content: flex-end;
  }

  &.is-center {
    justify-content: center;
  }

  &.is-wrap-row {
    flex-flow: row wrap;
    align-content: flex-start;
    writing-mode: vertical-lr;
    .column {
      writing-mode: horizontal-tb;
    }
  }

  &.is-no-margin-bottom {
    margin-bottom: 0;
  }
}
